<div class="container well">
    <form class="form">
      <legend>Add Message to the {{title}} folder:</legend>

      <div class="form-group">
        <label for="address">Address:</label>
        {{input name="address" value=address type="text" placeholder="email address"}}
      </div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        {{input name="subject" value=subject type="text"}}
      </div>
      <div class="form-group">
        <label for="body">Message Body:</label>
        {{input name="body" value=body type="text"}}
      </div>

      <button class="btn btn-default" {{action 'save'}}>Submit</button>
    </form>
</div>

<div class="container">
  <ul class="list-group">
    {{#each item in messages}}
      <li class="list-group-item">
        <p>{{#link-to 'message' item.id}}  {{item.address}} {{item.subject}} {{/link-to}}</p>
        <button class="btn btn-danger" {{action 'delete' item}}>Delete</button>
      </li>
    {{/each}}
  </ul>
{{outlet}}
</div>
