<div class="bs-example">
  <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>


    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="http://www.jellyfish.net/files/3214/1459/0630/Email-Marketing.jpg"/>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
          <img src="http://www.linx.com/wp-content/uploads/2014/04/email-newsletter.jpg"/>
      </div>
      <div class="item">
          <img src="http://doremarkable.com/wp-content/uploads/2015/01/inbox1.jpg"/>
      </div>
      <div class="item">
        <img src="http://marketingland.com/wp-content/ml-loads/2014/08/email-send-ss-1920.jpg"/>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>


<div class="container">
  <h2>Create a Folder:</h2>
  <br />

  <form>
    <div class="form-group">
      <label for="foldername">Folder Name:</label>
      {{input name="foldername" value=foldername type="text" placeholder="Folder Name"}}
    </div>
    <div class="form-group">
      <label for="folderphoto">Link to Folder Image</label>
      {{input name="folderphoto" value=folderphoto type="url"}}
    </div>
    <button class="btn btn-default" {{action 'save'}}>Submit</button>
  </form>
</div>

<div class="container">
  <h3>Click on a folder to add email:</h3>

<br>
  {{#each}}
    {{#link-to 'email' this.id}}<p> </p><img {{bind-attr src = folderphoto}} height="164" width="164">     {{foldername}}{{/link-to}}
    <p><button class="btn btn-xs btn-danger" {{action 'delete' this}}>Delete</button>
    <hr></p>

  {{/each}}

</div>
